.block_convas{
    
    .title_convas{
        text-align: left;
        margin-bottom: 5px;
        font-family: Open Sans;
        font-size: 13px;
    }
    canvas{
        margin-bottom: 20px;
        width: 300px;
        height: 320px;
    }
}