.block_allExchanges {
    margin-top: 35px;
    width: 900px;

    .block_allExchanges_block_nameAndImg {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

        h2 {
            font-size: 25px;
            font-family: Open Sans;
        }
        img {
            width: 30px;
            margin-right: 5px;
        }
    }
    h3 {
        font-size: 20px;
        color: rgba(216, 145, 13, 0.924);
        font-family: Open Sans;
        text-align: left;
    }
    .exchanges_table {
        margin-top: 20px;
        width: 100%;

        .exchanges_table_thead {
            
            .exchanges_table_thead_tr {
                display: flex;
                justify-content: space-between;
            }
            .exchanges_table_thead_th_one {
                font-size: 11px;
                font-family: Open Sans;
            }

            .exchanges_table_thead_th_two {
                font-size: 11px;
                font-family: Open Sans;
            }
        }
    }
}
