.coinTable{
    padding: 16px;
    
    
    .coinTable_text{
        display: flex;
        justify-content:space-around;
        margin-bottom: 15px;

        .coinTable_main_text{
            
            font-size: 25px;
            font-family: Open Sans;
            
        }

        .coinTable_link{
            font-size: 17px;
            font-family: Open Sans;
            font-weight: 600;
            text-decoration: none;
            color: #1467ee;
            align-self: flex-end;
        
            &:hover{
                color: gray ;
                transition: all 0.2s linear;
            }
        }
    }

    .coinTable_blocks{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}