.news{
    width: 260px;
    height: 270px;
    position: relative;
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 8%);
    text-decoration: none;
    margin-right: 40px;

    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        transition: all 0.5s linear;
    }

    .block_img_title{
        height: 100%;
        cursor: pointer;

        .block_img{
            width: 100%;
            height: 164px;
            overflow: hidden;

            img{
                position: static;
                transform: none !important;
                width: 100%;
                height: 100%;
                left: 0;
                object-fit: cover;
            }
        }
        .block_title_news{
            padding: 16px;
           

            .title_news{
                color: #111;
                font-size: 11px;
                font-family: Open Sans;
                font-weight: bold;
                max-height: 4.3em;
                letter-spacing: -.2px;
                line-height: 1.4;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                margin-bottom: 15px;
                
            }
            .date_published_news{
                font-size: 10px;
                text-align: end;
                color: #111;
                    
            }
            
            
        }
    }        
}
